@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$font-default: 'ALbert Sans', Arial, sans-serif;

$colors-palet: (
   'color-01': #6826C9,
   'color-02': #FF475A,
   'color-03': #FFD0D5
);

$colors-neutral: (
   'color-01': white,
   'color-02': black,
   'color-03': #EFEFF0,
   'color-04': #9B989F,
);

$header-height: 135px;
