@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$font-default: 'ALbert Sans', Arial, sans-serif;

$colors-palet: (
   'primary': #6826C9,
   'secondary': #FF475A,
   'terceary': #FFD0D5
);

$colors-neutral: (
   'light-base': white,
   'light-01': #EFEFF0,
   'light-02': #9B989F,
   'dark-base': black,
   'dark-01': #161515,
   'dark-02': #3f3d3d,
);

$header-height: 135px;
