@charset "UTF-8";

// * Partials
@use 'partials/variables' as var;
@use 'partials/reset';

// * Components
@use 'components/header';
@use 'components/themeSwitch';

body {
   width: 100%;
   min-height: 100vh;
   // padding-top: var.$header-height;
   font-family: var.$font-default;
   background-color: map-get(var.$colors-neutral, 'light-base');
}
