@charset "UTF-8";

// * Partials
@use 'partials/variables' as var;
@use 'partials/reset';

// * Components
@use 'components/header';
@use 'components/themeSwitch';
@use 'components/section';
@use 'components/link';
@use 'components/video';
@use 'components/title';
@use 'components/cards';
@use 'components/reviews';
@use 'components/button';
@use 'components/footer';

body {
   width: 100%;
   min-height: 100vh;
   // padding-top: var.$header-height;
   font-family: var.$font-default;
   background-color: map-get(var.$colors-neutral, 'light-base');
}

main {
   width: 100%;
   max-width: 1300px;
   margin: auto;
}
