@use '../../partials/variables' as var;

.section--cards {
   margin-top: 200px;
   text-align: center;
}

// Dark mode
body.dark {
   .section--cards {
      h2 {
         color: white;
      }
   }
}

