@use '../partials/variables' as var;

.header {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 5;
   width: 100%;
   height: var.$header-height;
   padding: 20px 50px;
   background-color: map-get(var.$colors-neutral, 'light-base');
   display: flex;
   justify-content: space-around;
   align-items: center;
   transition: top 0.5s;

   &.disable {
      top: 0 - var.$header-height;
   }

   &__logo {
      width: 100%;
      max-width: 50px;
   }

   &__nav {
      ul {
         list-style: none;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 30px;
      }
   }

   .fa-bars {
      display: none;
      font-size: 1.2rem;
      color: map-get(var.$colors-neutral, 'dark-01');
      cursor: pointer;
      transition: all 0.6s;

      &:hover {
         color: map-get(var.$colors-palet, 'primary');
      }
   }
}

@media (min-width: 1920px) {
   .header {
      width: 1920px;
      margin: auto;
   }
}

@media (max-width: 900px) {
   .header {
      justify-content: space-between;

      &__nav,
      .switch {
         display: none;
      }
      .fa-bars {
         display: block;
      }
   }
}

// Dark mode
body.dark {
   .header {
      background-color: map-get(var.$colors-neutral, 'dark-01');
      color: white;
   }
}
