@use '../partials/variables' as var;

.header {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 5;
   width: 100%;
   height: var.$header-height;
   padding: 20px 50px;
   background-color: map-get(var.$colors-neutral, 'light-base');
   display: flex;
   justify-content: space-around;
   align-items: center;

   &__logo {
      width: 100%;
      max-width: 50px;
   }

   &__nav {
      ul {
         list-style: none;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 30px;
      }
   }
}
