@use '../partials/variables' as var;

.reviews {
   width: 100%;
   margin-top: 40px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
   justify-items: center;
   gap: 30px;

   &__review {
      width: 100%;
      max-width: 300px;
      padding: 15px 20px 5px 15px;
      background-color: white;
      border-radius: 10px;

      header {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 20px;

         > div {
            width: 85%;
            display: flex;
            align-items: center;
            gap: 10px;

            img {
               display: block;
               width: 50px;
               aspect-ratio: 1/1;
               border-radius: 50%;
            }

            div {
               width: 75%;

               h3 {
                  // max-width: 40%;
                  font-size: 1rem;
                  font-weight: 600;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
               }
               p {
                  margin-top: 1px;
                  font-size: 0.9rem;
                  opacity: 0.7;
               }
            }
         }

         i {
            font-size: 1.1rem;
            color: #08a0e9;
         }
      }

      > p {
         margin-top: 10px;
         padding: 10px 0;
         max-height: 200px;
         overflow-y: auto;
         font-size: 0.9rem;
         opacity: 0.9;
      }
   }
}
