@use '../partials/variables' as var;

.section {
   margin-top: 80px;
   width: 100%;

   &--main {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;

      > * {
         width: 50%;
      }

      &__content {
         p {
            margin-top: 30px;
            font-size: 1.1rem;
            color: map-get(var.$colors-neutral, 'dark-02');
         }

         a {
            padding-left: 5px;
            display: block;
            margin-top: 30px;
            color: map-get(var.$colors-palet, 'primary');
            font-size: 1.1rem;

            &::after {
               width: 110%;
            }

            &:hover {
               color: map-get(var.$colors-palet, 'secondary');
            }
            &:hover::after {
               background-color: map-get(var.$colors-palet, 'secondary');
            }
         }

         .section--main__companies {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            
            img {
               // width: 50px;
               opacity: 0.5;
               filter: grayscale(100%);
               transition: all .6s;

               &:hover {
                  filter: grayscale(0);
                  transform: scale(110%);
               }
            }
         }
      }

      &__media {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      &__bg {
         position: absolute;
         right: 0px;
         transform: rotate(45deg);
         opacity: 0.2;
         z-index: -1;
         width: 450px;
         border-radius: 50%;
         animation: moviment 3s infinite ease-in-out;
      }
   }

   &--cards {
      margin-top: 200px;
      text-align: center;
   }

   &--parallax {
      margin-top: 300px;
      display: flex;
      justify-content: center;
      gap: 100px;

      > * {
         width: 50%;
      }

      > :first-child {
         position: relative;
         // height: 100%;

         img {
            position: sticky;
            top: 200px;
            left: 0;
            width: 100%;
            max-width: 700px;
            border-radius: 10px;
         }
      }

      > :last-child {
         padding: 200px 0 100px 0;

         ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 250px;

            li {
               width: 100%;
               max-width: 400px;
               font-size: 2.2rem;
               font-weight: 700;
            }
         }
      }
   }

   &--tutorials {
      margin-top: 300px;

      h2 {
         text-align: center;
      }

      &__container {
         margin-top: 50px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         gap: 20px;

         article {
            overflow: hidden;
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            
            .video {
               max-width: 100%;
               box-shadow: none;
               aspect-ratio: 16/12;
            }

            h3 {
               font-size: 1.1rem;
               margin-top: 15px;
               font-weight: 700;
               color: map-get(var.$colors-neutral, 'dark-01');
            }

            p {
               margin-top: 2px;
               font-size: 0.9rem;
               opacity: 0.7;
            }
         }
      }
   }
}

@keyframes moviment {
   0% {
      top: -50px;
   }
   50% {
      top: 0;
   }
   100% {
      top: -50px;
   }
}
