@use '../partials/variables' as var;

.section {
   margin-top: 80px;
   width: 100%;

   &--main {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;

      > * {
         width: 50%;
      }

      &__content {
         h1 {
            font-size: 2.8rem;
            line-height: 3.2rem;
            font-weight: 700;
         }

         p {
            margin-top: 30px;
            font-size: 1.1rem;
            color: map-get(var.$colors-neutral, 'dark-02');
         }

         a {
            padding-left: 5px;
            display: block;
            margin-top: 30px;
            color: map-get(var.$colors-palet, 'primary');
            font-size: 1.1rem;

            &::after {
               width: 110%;
            }

            &:hover {
               color: map-get(var.$colors-palet, 'secondary');
            }
            &:hover::after {
               background-color: map-get(var.$colors-palet, 'secondary');
            }
         }

         .companies {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            
            img {
               // width: 50px;
               opacity: 0.5;
               filter: grayscale(100%);
               transition: all .6s;

               &:hover {
                  filter: grayscale(0);
                  transform: scale(110%);
               }
            }
         }
      }

      &__media {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      &__bg {
         position: absolute;
         right: 0px;
         transform: rotate(45deg);
         opacity: 0.2;
         z-index: -1;
         width: 450px;
         border-radius: 50%;
         animation: moviment 3s infinite ease-in-out;
      }
   }
}

@keyframes moviment {
   0% {
      top: -50px;
   }
   50% {
      top: 0;
   }
   100% {
      top: -50px;
   }
}
